{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/solid.min.css" integrity="sha512-xIEmv/u9DeZZRfvRS06QVP2C97Hs5i0ePXDooLa5ZPla3jOgPT/w6CzoSMPuRiumP7A/xhnUBxRmgWWwU26ZeQ==" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" >
        <title>{% block title %}{% endblock title %}</title>
    </head>
    
    
    <body>
        <!-- Nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
            <div class="container-fluid">
        
            <button class="navbar-toggler" type ="button" data-toggle="collapse" data-target="#navbarMenu">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                  <li class="nav-item px-2">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                    </li>  
                    
                    <li class="nav-item px-2">
                        <a href="{% url 'todo_list' %}" class="nav-link">Todo List</a>
                    </li>
        
                    <li class="nav-item px-2">
                        <a href="{% url 'cate_list' %}" class="nav-link">Categories</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>


            {% block content %}
            {% endblock content %}
        


        <footer class="bg-light text-center text-lg-start">    
            <div class="text-center p-3">
              © 2021 Copyright:
              <a class="text-dark">Sylvia Le, Mahdia Daqiq, Irakli Svanidze</a>
            </div>
          </footer>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>