{% extends 'base.html' %}
{% load static %}


{% block title %}Todo List{% endblock title %}


{% block content %}

    {% for todo in todos %}
        <div>
            <div class="card-header">
            <span class="font-weight-bold">{{ todo.title }}</span> &middot;
            <span class="text-muted">Priority: {{ todo.priority }}</span>
            <span class="text-muted">Completed: {{ todo.completed }}</span>
            <a href="{% url 'todo_edit' todo.pk %}">Edit</a> | <a href="{% url 'todo_delete' todo.pk %}">Delete</a>
        </div>
    {% endfor %}
{% endblock content %}